<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362609573305-4q7is262lf26avfsr18j0bkdtl12mv1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362609573305-4q7is262lf26avfsr18j0bkdtl12mv1i</string>
	<key>API_KEY</key>
	<string>AIzaSyCzQioWlsh-RHdrS-h2F-_emwbi4UDvFAk</string>
	<key>GCM_SENDER_ID</key>
	<string>362609573305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.xenBloom.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>xen-bloom</string>
	<key>STORAGE_BUCKET</key>
	<string>xen-bloom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362609573305:ios:510eeb8f9393d9e56fca68</string>
</dict>
</plist>